random-xs:
  vsag_hnsw:
    module: benchmark_anns.bench.algorithms.vsag_hnsw.vsag_hnsw
    constructor: VsagHnsw
    base-args: ["@metric"]
    run-groups:
      base:
        args: |
          [
            {
              "index_name": "hgraph",
              "index_config": {
                "dtype": "float32",
                "index_param": {
                  "base_quantization_type": "fp32",
                  "max_degree": 16,
                  "ef_construction": 120,
                  "use_elp_optimizer": False
                }
              }
            }
          ]
        query-args: |
          [
            {
              "search_params": {
                "hgraph": {
                  "ef_search": 40
                }
              }
            }
          ]

sift:
  vsag_hnsw:
    module: benchmark_anns.bench.algorithms.vsag_hnsw.vsag_hnsw
    constructor: VsagHnsw
    base-args: ["@metric"]
    run-groups:
      base:
        args: |
          [
            {
              "index_name": "hgraph",
              "index_config": {
                "dtype": "float32",
                "index_param": {
                  "base_quantization_type": "sq8",
                  "max_degree": 16,
                  "ef_construction": 120,
                  "use_elp_optimizer": True
                }
              }
            }
          ]
        query-args: |
          [
            {
              "search_params": {
                "hgraph": {
                  "ef_search": 40
                }
              }
            }
          ]
