[submodule "big-ann-benchmarks"]
	path = big-ann-benchmarks
	url = https://github.com/intellistream/big-ann-benchmarks.git
	branch = feature/cache-miss
[submodule "GTI"]
	path = thirdparty/GTI
	url = https://github.com/MingqiWang-coder/GTI-Graph-based-Tree-Index.git
	branch = main
[submodule "IP-DiskANN"]
	path = thirdparty/IP-DiskANN
	url = https://github.com/intellistream/IP-DiskANN.git
	branch = main
[submodule "PLSH"]
	path = thirdparty/PLSH
	url = https://github.com/Kwan-Yiu/PLSH.git
	branch = master
[submodule "concurrency/index/parlayann/parlayann"]
	path = src/index/concurrent/parlayann/parlayann
	url = https://github.com/Kwan-Yiu/ParlayANN.git
	branch = debug
[submodule "concurrency/index/vamana/diskann"]
	path = src/index/concurrent/vamana/diskann
	url = https://github.com/Kwan-Yiu/DiskANN.git
	branch = pic
