[submodule "DiskANN"]
	path = DiskANN
	url = https://github.com/microsoft/DiskANN.git
	branch = main
[submodule "algorithms_impl/gti"]
	path = algorithms_impl/gti
	url = https://github.com/MingqiWang-coder/GTI-Graph-based-Tree-Index.git
	branch = main
[submodule "algorithms_impl/ipdiskann"]
	path = algorithms_impl/ipdiskann
	url = https://github.com/intellistream/IP-DiskANN.git
	branch = main
[submodule "algorithms_impl/plsh"]
	path = algorithms_impl/plsh
	url = https://github.com/Kwan-Yiu/PLSH.git
	branch = master
[submodule "algorithms_impl/vsag"]
	path = algorithms_impl/vsag
	url = https://github.com/intellistream/vasg.git
	branch = main
